.root {
  display: grid;
  position: fixed;
  inset: 0;
  grid-template-rows: minmax(0, 1fr);
  place-content: center;
  margin: 40px;
}

.images {
  display: flex;
  position: relative;
}

.image {
  height: 100%;
}

.button {
  position: absolute;
  opacity: 0.75;
  border-radius: 50%;
  box-shadow: 0 0 8px var(--mui-palette-primary-light);
  background-color: var(--mui-palette-primary-light);
}

.dPadLeft {
  top: 15.7%;
  left: 13.2%;
  width: 9%;
  height: 4.1%;
}

.dPadRight {
  top: 15.7%;
  left: 26.5%;
  width: 9%;
  height: 4.1%;
}

.dPadDown {
  top: 19%;
  left: 20.6%;
  width: 7.6%;
  height: 4.7%;
}

.dPadUp {
  top: 11.7%;
  left: 20.6%;
  width: 7.6%;
  height: 4.7%;
}

.plus {
  top: 46.4%;
  left: 33.1%;
  width: 7.4%;
  height: 4%;
}
