.root {
  display: grid;
  position: fixed;
  inset: 0;
  grid-template-rows: minmax(0, 1fr);
  place-content: center;
  margin: 40px;
}

.wiimote {
  display: flex;
  position: relative;
}

.image {
  height: 100%;
}
